// load google fonts
@import url('https://fonts.googleapis.com/css?family=Inria+Serif|Montserrat&display=swap');

// fonts
$header_text: 'Inria Serif', serif;
$regular_text: 'Montserrat', sans-serif;
$big_text: 'Baloo Bhai', cursive;

html {
  scroll-behavior: smooth;
  a, p {
    font-size: 18px;
    font-family: $regular_text;
  }

  h1, h2 {
    font-size: 25px;
    font-family: $header_text;
  }

  body {
    // margin-top: 105px;
  }
}

// navigation section
@media screen and (max-width:340px) {
  .navbar {
    padding: 10px 6%;
  }
}

@media screen and (min-width:341px) {
  .navbar {
    padding: 10px 10%;
  }
}


// home section
.carousel-item {
  height: 100vh;
}

.carousel-inner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.carousel-indicators {
  bottom: 30px;
}

.title {
  font-size: 60px;
  font-family: $header_text;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


// assistance section
.assistance {
  height: 500px;
}
